@media (min-width: 1200px) {
		
	.stack_grid .navigation > ul > li > a {
		padding: 0 15px;
	}
	.stack_grid .col-3.sidebar {
		float: right;
	}
			
	.stack_grid #question-title,.stack_grid #question-details,.stack_grid .taglist .input input {
		width: 82%;
	}
	.stack_grid .ask-question .stack-form-style label {
		width: 17%;
	}
	.stack_grid .form-description {
		margin-left: 18%;
	}

}

@media only screen and (min-width: 767px) and (max-width: 960px) {
	body {
		width: 100%;
	}
	
	/* Navigation */
	.navigation_mobile > ul,.navigation,.navigation_mobile > ul {
		display:none;
	}
	.navigation_mobile > ul li ul {
		display: block;
	}
	
	/* sidebar */
	.sidebar {
		margin-top: 30px;
	}
	/* Widgets */
	#footer .widget {
		margin-bottom: 30px;
	}
		
}


@media (min-width: 768px) and (max-width: 991px) {
	/* Navigation */
	#header .navigation_mobile {
		position:relative;
		margin-top: 25.5px;
	}
	#header.fixed-nav .navigation_mobile {
		position:relative;
		margin-top: 17.5px;
	}
	.navigation_mobile > ul,.navigation,.navigation_mobile > ul {
		display:none;
	}
	.navigation_mobile > ul li ul {
		display: block;
	}
	
	.login .stack-content {
		margin-bottom: 30px;
	}

	#footer .widget {
		margin-bottom: 30px;
	}
	
	.sidebar {
		margin-top: 30px;
	}
}

@media (max-width: 767px) {
	
	#header {
		height: auto;
	}
		
	.stack-form-style label {
		width: 100% !important;
	}
	
	.login .stack-content {
		margin-bottom: 30px;
	}
	.my-profile-widget .ul_list li {
		width: 100%;
		margin-right: 0 !important;
		margin-bottom: 10px !important;
	}
}

@media only screen and (min-width: 452px) and (max-width: 767px) {
	body {
		width: 100%;
	
	
	.stack-panel {
		width: 90%;
	}
	/* Header */
	#header {
		padding-bottom:15px;
	}
	#header {
		height: auto;
		line-height: 70px;
	}
	#header .logo {
		text-align:center;
		margin:0;
		float:none;
	}
	
	#footer-bottom {
		height:auto;
	}
	
	#footer-bottom > .container > div {
		float:inherit !important;
		display:inline-block;
		margin-left:0 !important;
		margin-right:0 !important;
		width: 100%;
		text-align: center;
	}
	#footer-bottom > .container > div:first-child {
		margin-bottom: 10px;
	}
	
	#footer-bottom > .container ul {
		display: inline-block;
		float: none;
	}
	
	/* Navigation */
	#header .navigation_mobile {
		position:relative;
		margin-top:0;
	}
	.navigation_mobile > ul,.navigation,.navigation_mobile > ul {
		display:none;
	}
	.navigation_mobile {
		width:100% !important;
		margin-right:0 !important;
		margin-left:0 !important;
	}
	.navigation_mobile > ul li ul {
		display: block;
	}
	
	/* Sidebar */
	.sidebar {
		margin-top:30px !important;
	}
	/* Footer */
	#footer-bottom > .container > div {
		margin-left:0;
		margin-right:0;
	}
	
	/* Widgets */
		
	.widget:last-child {
		margin-bottom:30px;
	}
	.sidebar .widget:last-child {
		margin-bottom:0;
	}

	/* Respond */
	#respond-inputs p {
		width:100%;
		margin-right:0;
	}
	
			
	/* Forms */
	.form-inputs p {
		float: none;
		width: 100%;
	}
	.form-inputs p {
		width: 60% !important;
	}
	.stack-form-style input.submit {
		width: auto;
	}
	
	#question-title, #question-details, .taglist .input input,.ask-question .form-description,.taglist,.fileinputs {
		width: 100%;
	}
	.ask-question .stack-form-style label {
		margin-top: 0;
	}
	.fileinputs {
		margin-top: 5px;
	}
	.form-description{
		margin-left: 0;
	}
	
	
	
	/* Questions */
	.stack-quest-type-n .stack-question-type {
		left: 121px;
		right: inherit;
	}
	.stack-quest-type-n .stack-quest-report {
		left: 213px;
		right: inherit;
	}
	
	.stack-quest-type-n.question h2{
		padding-right: 0;
		padding-top: 53px;
	}
	.single-question.stack-quest-type-n .stack-question-type {
		left: 20px;
		right: inherit;
	}
	.single-question.stack-quest-type-n .stack-quest-report {
		left: 104px;
		right: inherit;
	}
	
	.stack-quest-comment,.stack-quest-comment a {
		margin-bottom: 5px;
	}
	.stack-quest-date, .stack-quest-view {
		margin-bottom: 10px;
	}
	
	
	.question-tags {
		display: block;
		float: none;
		margin-bottom: 10px;
	}
	
}
/*------------------------------------------------------------------------------*/
/*                    width : 479px 
/*------------------------------------------------------------------------------*/
@media only screen and (max-width: 479px) {
	body {
		width: 100%;
	}
	
	.stack-panel {
		width: 90%;
	}
	
	/* Header */
		
	#header {
		padding-bottom:15px;
	}
	#header {
		height: auto;
		line-height: 70px;
	}
	#header .logo {
		text-align:center;
		margin:0;
		float:none;
	}
	
	#footer-bottom {
		height:auto;
	}
		
	#footer-bottom > .container {
		text-align:center;
	}
	#footer-bottom > .container > div {
		float:inherit !important;
		display:inline-block;
		margin-left:0 !important;
		margin-right:0 !important;
	}
	#footer-bottom > .container > div:first-child {
		margin-bottom: 10px;
	}
		
	/* Navigation */
	#header .navigation_mobile {
		position:relative;
		margin-top:0;
	}
	.navigation_mobile > ul,.navigation,.navigation_mobile > ul {
		display:none;
	}
	.navigation_mobile {
		width:100% !important;
		margin-right:0 !important;
		margin-left:0 !important;
	}
	.navigation_mobile > ul li ul {
		display: block;
	}
	
	/* Sidebar */
	.sidebar {
		margin-top:30px !important;
	}
	/* Footer */
	#footer-bottom > .container > div {
		margin-left:0;
		margin-right:0;
	}
			
	.widget:last-child {
		margin-bottom:20px;
	}
	.sidebar .widget:last-child {
		margin-bottom:0;
	}
	.widget_contact ul li .icon_i {
		margin-top: 5px;
	}

	/* Respond */
	#respond-inputs p {
		width:100%;
		margin-right:0;
	}
	#respond input#submit {
		width: 100%;
	}
	
	/* Comments */
	.commentlist li .avatar {
		float:none;
		margin:0 auto 10px;
	}
	.commentlist li .author {
		text-align:center;
		margin-bottom:10px;
	}
	.commentlist li .comment-meta {
		float:none;
		margin-bottom:10px;
	}
	
	.comment-reply,.commentlist li .date {
		float: none;
	}
	.commentlist li .date {
		margin-top: 10px;
	}
				
		
	/* Forms */
	.form-inputs p {
		float: none;
		width: 100%;
	}
	.form-inputs p {
		width: 100% !important;
	}
	#question-title, #question-details, .taglist .input input,.ask-question .form-description,.taglist,.fileinputs {
		width: 100%;
	}
	.form-description {
		margin-left: 0;
	}
	.ask-question .stack-form-style label {
		margin-top: 0;
	}
	.my-profile-img {
		float: none;
		margin-bottom: 10px;
	}
	.my-profile .my-profile-img {
		float: left;
	}
	.stack-form-style-2 .fileinputs {
		width: 100%;
	}
	.stack-question h3 {
		padding: 38px 0 0 0;
	}
	.stack-question .stack-question-type {
		left: 20px;
		right: inherit;
	}
	
	/* Questions */
	.stack-quest-type-n .stack-question-type {
		left: 121px;
		right: inherit;
	}
	.stack-quest-type-n .stack-quest-report {
		left: 121px;
		right: inherit;
		top: 58px;
	}
	.stack-quest-type-n.question h2 {
		padding-right: 0;
		padding-top: 86px;
		margin-top: 0;
	}
	.single-question.stack-quest-type-n .stack-question-type {
		left: 20px;
		right: inherit;
	}
	.single-question.stack-quest-type-n .stack-quest-report {
		left: 104px;
		right: inherit;
	}
	
	.single-question.stack-quest-type-n .stack-quest-report {
		top: 20px;
	}
	.question-tab .stack-tab-inner-main {
		padding-top: 0;
	}
	.question h2 {
		margin-top: 121px;
	}
	.question h2,.stack-quests-inner {
		margin-left: 0;
	}
	.question-author {
		top: 20px;
		left: 20px;
	}
	
	.question-vote-result, .stack-quest-date {
		margin-bottom: 0;
	}
	
	.question-tags {
		display: block;
		float: none;
		width: 100%;
	}
.question-tags,.question-answered {
		width: 100%;
		margin-bottom: 10px !important;
	}
	.single-question.question h2 {
		margin: 38px 20px 10px;
		padding: 0;
	}
	.comment-vote,.question-vote {
		margin-top: 5px;
	}
	.comment .question-vote-result {
		margin-top: 15px;
	}
	/* my-profile */
	.my-profile-img {
		float: none;
		margin: 0 0 20px;
	}
	.my-profile .my-profile-img {
		float: left;
		margin: 0 15px 10px 0;
	}
	
}

@media only screen and (min-width: 0px) and (max-width: 450px) {
	
}